Features:
    1) user registration and login:
        Allow users to create an account and log in to access their financial data
    2)transaction management:
        Users should be able to:
            - Add new transactions (income and expenses)
            - Vieew all transactions (in a list)
            - Edit or delete transactions
    3) Reporting and visualization:
        Generate reports that summarize the user's financial data.
        Visualize data using charts (e.g. pie chart for expenses)
    4) Data storage:
        Store user information and transactions in a local database (SQLite)
